body {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 1.5fr;
    grid-template-areas:
        "header header header header header"
        "main main main main aside"
        "main main main main aside"
        "footer footer footer footer footer";

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: black;
    color: white;
    margin-top: 0%;
    height: 50px;
    grid-area: header;



}

.lien1 {

    margin-right: 20px;
    text-decoration: none;
    color: white;
}

a:hover {

    background-color: blue;

}

.lien {

    float: right;
    margin-right: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

main {

    color: black;
    float: left;
    padding: 20px;
    width: 90%;
    grid-area: main;


}

aside {

    color: black;
    float: right;
    padding: 20px;
    grid-area: aside;
    background-color: rgb(0, 179, 255);

}

img {
    max-width: 350px;
    margin: auto;
}

figure {
    background-color: white;
    border: solid black 1px;
    padding: 10px;
    width: fit-content;
    float: left;
}

footer {

    background-color: gray;
    text-align: end;
    grid-area: footer;
    height: 150px;
   
    
}